<div class="index-content">
    <p>
        通过浏览左侧目录进行枚举(Enum)、类(Class)以及模组(Module)的浏览。
    </p>

    <h2>快捷键指南</h2>
    <ul>
        <li><p>按<kbd>s</kbd>可直接进行API搜索</p></li>

        <li><p>按<kbd>方向上</kbd>或<kbd>方向下</kbd>可进行枚举(Enum)、类(Class)、模组(Module)以及搜索结果的选择</p></li>

        <li class="mac-only"><p>在光标集中在左边API搜索框时, 使用<kbd><span class="cmd">&#x2318;</span>-Left</kbd>或<kbd><span class="cmd">&#x2318;</span>-Right</kbd>可切换到下一栏标签，例如可从枚举(Enum)切换到类(Class)。</p></li>

        <li class="pc-only"><p>在光标集中在左边API搜索框时, 使用<kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd>可切换到下一栏标签，例如可从枚举(Enum)切换到类(Class)。</p></li>
    </ul>
</div>