<div id="api-options">
    显示:

    <label for="api-show-protected">
        <input type="checkbox" id="api-show-protected">
        保护(Protected)
    </label>

    <label for="api-show-private">
        <input type="checkbox" id="api-show-private">
        私有(Private)
    </label>
    <label for="api-show-deprecated">
        <input type="checkbox" id="api-show-deprecated">
        废弃(Deprecated)
    </label>

</div>
