<div id="api-options">
    {{i18n.options.SHOW}}:

    <label for="api-show-protected">
        <input type="checkbox" id="api-show-protected">
        {{i18n.options.PROTECTED}}
    </label>

    <label for="api-show-private">
        <input type="checkbox" id="api-show-private">
        {{i18n.options.PRIVATE}}
    </label>
    <label for="api-show-deprecated">
        <input type="checkbox" id="api-show-deprecated">
        {{i18n.options.DEPRECATED}}
    </label>

</div>
