<ul id="index-inherits-tree">
{{#inheritance}}
  <li class="inherits-tree-item">
    {{#if name}}
      <div>
        <a href="{{name}}.html">{{name}}</a>
      </div>
    {{/if}}
    {{#if children}}
      {{> class-tree}}
    {{/if}}
  </li>
{{/inheritance}}
</ul>
